// Footer
footer {
  .footer-content,
  .footer-credits {
    a {
      display: inline-block;
      opacity: 0.8;
      position: relative;
      overflow: hidden;
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        content: "";
        position: absolute;
        background-color: rgb(240 249 255);
        height: 1px;
        width: 100%;
        left: -100%;
        bottom: 1px;
        transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      @media #{$xl} {
        &:hover {
          opacity: 1;

          &::after {
            left: 0;
          }
        }
      }
    }
  }
}
