// Header
header {
  #hamburger {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    position: relative;

    span {
      position: absolute;
      background-color: white;
      height: 1px;
      width: 2rem;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    span {
      &:first-child {
        top: 33%;
      }
      &:last-child {
        bottom: 33%;
      }
    }

    &.hamburger-active {
      span {
        &:first-child {
          transform: translateX(-50%) rotate(45deg);
          top: 50%;
        }
        &:last-child {
          transform: translateX(-50%) rotate(-45deg);
          top: 50%;
          bottom: auto;
        }
      }
    }
  }

  .menu {
    width: 100%;

    ul {
      li {
        width: 100%;
        padding: 1rem 0;
        transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

        a {
          display: block;
          color: rgb(30 41 59);
          position: relative;
          overflow: hidden;
          transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

          &::after {
            content: "";
            position: absolute;
            background-color: rgb(30 41 59);
            height: 1px;
            width: 100%;
            left: -100%;
            bottom: 0;
            transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
          }
        }

        &:hover {
          a {
            &::after {
              left: 0;
            }
          }
        }

        @media #{$xl} {
          width: auto;
          padding: 0 1rem;
        }
      }
    }
  }

  .menu-contact {
    a {
      display: block;
      color: rgb(30 41 59);
      opacity: 0.8;
      position: relative;
      overflow: hidden;
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        content: "";
        position: absolute;
        background-color: rgb(30 41 59);
        height: 1px;
        width: 100%;
        left: -100%;
        bottom: 1px;
        transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      
      &:hover {
        opacity: 1;
  
        &::after {
          left: 0;
        }
      }
    }       
  }

  .menu-mobile{
    max-height: 0;
    overflow: clip;
    transition: all 0.6s ease;

    @media #{$xl} {
      width: auto;
      max-height: fit-content;
    }

    ul{
      padding: 3rem 0;

      line-height: 1;
      li{
        padding: .6rem 0;
      }
    }
  }

  .cta {
    a {
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  .open-menu {
    &.menu-mobile {
      max-height: 800px;
    }
  }
}